@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    color: #ffffff;
    margin: 1em;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    background-color: black;
}

button:hover {
    background-color: rgb(39, 39, 39);
}

#div-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#pagina-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
}

input {
    color: #000000;
    margin: 1em;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px; /* Reduced border-radius for smaller screens */
    font-size: 16px; /* Reduced font-size for smaller screens */
    background-color: white;
}

.card {
    display: flex;
    width: 100%; /* Take full width on smaller screens */
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}

.card img {
    width: 100%; /* Take full width on smaller screens */
    border-radius: 10px;
    box-shadow: 10px 10px 7px #00000072;
}

.card img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    border-radius: 11px;
    box-shadow: none;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 767px) {
    #jogadores {
        grid-template-columns: repeat(1, 1fr);
    }

    input, button {
        font-size: 18px;
        padding-inline: 15px;
    }
}

@media screen and (min-width: 768px) {
    #jogadores {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    #jogadores {
        grid-template-columns: repeat(4, 1fr);
    }
}

#detalhe {
    padding: 20px; /* Reduced padding for smaller screens */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#detalhe img {
    width: 100%; /* Take full width on smaller screens */
    border-radius: 10px;
}

#detalhe h1 {
    font-size: 3em; /* Reduced font size for smaller screens */
}
